<?xml version="1.0" ?>
<Snapster>
    <app>
        <MaxNeighbourCount>3</MaxNeighbourCount>
        <rediscovery_delay_ms>5000</rediscovery_delay_ms>
        <port>2421</port>
        <id>Camel16</id>
        <quality>10</quality>
        <ip>130.225.16.135</ip>
        <startServer>1</startServer>
        <startDiscovery>1</startDiscovery>
        <NumberOfKWalkers>2</NumberOfKWalkers>
        <fileSharePort>5339</fileSharePort>
        <sharingFolder>Files</sharingFolder>
        <downloadFolder>Downloads</downloadFolder>
    </app>  
    <bootstrap>
    </bootstrap>
</Snapster>
